@charset "UFT-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(150deg, #ff0000, #000000, #130000, #000000, #130000, #ff0000);
    min-height: 150vh;
}
h2 {
    color: #fff;
    text-align:left;
    margin-top: 5%;
    margin-left: 10%;
}
p {
color: #bebebe;
    text-align:left;
    margin-top: 1%;
    margin-left: 10%;
}
.container h1{
    color: #fff;
    text-align: center;
    margin-top: 10%;
}
.container p {
    color: #fff;
    text-align: center;
    margin-top: 1%;
    font-size: 18px;
}
.divisao p {
    text-align:left;
    margin-top: 1%;
    margin-left: 10%;
}
iframe {
    text-align:left;
    margin-top: 2%;
    margin-left: 10%;
}
